/*===========================================================
  Variables
=============================================================*/
:root {
  --bg-grey: #f7f5f9;
  --bg-dark-grey: #454545;

  --black: #222222;
  --white: #ffffff;

  --text-grey: #646464;
  --text-grey-light: #a7a7a7;

  --line-grey: #dbdbdb;

  --heading-font: "Manrope", sans-serif;
  --body-font: "Manrope", sans-serif;

  --radial-gradient: radial-gradient(
    98.81% 98.81% at 0.35% 47.8%,
    #ef4bcb 0%,
    #34897b 100%
  );
  --linear-gradient: linear-gradient(115deg, #ef4bcb -4.03%, #566cff 94.79%);
}
