/*===========================================================
  Footer Main
=============================================================*/
.cs_footer_section_1 {
  .container {
    max-width: 1344px;
  }

  @media (max-width: 991px) {
    .row.cs_gap_y_40 {
      & > :first-child {
        padding-bottom: 20px;
        .cs_fs_32 {
          font-size: 28px;
        }
      }
    }
  }

  .col-2 {
    .cs_footer_col {
      display: flex;
      justify-content: flex-end;
    }
  }

  .cs_footer_widget_menu {
    li {
      padding: 16px 0;
      font-size: 18px;
      line-height: 1em;
      font-weight: 500;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        currentColor 0,
        currentColor 100%
      );
      transition:
        background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;
      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }

    @media (max-width: 991px) {
      display: flex;
      gap: 0 32px;
      flex-wrap: wrap;
      li {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  // Newsletter
  .cs_newsletter.cs_style_1 {
    width: min(439px, 100%);
    position: relative;
    .cs_newsletter_input {
      outline: none;
      border: 1px solid var(--bg-grey);
      border-radius: 12px;
      width: 100%;
      padding: 17px 112px 17px 20px;
      background-color: var(--bg-grey);
      &::placeholder {
        color: var(--text-grey);
      }
    }
    .cs_btn_md {
      outline: none;
      border: 1px solid var(--black);
      padding: 16px 19px;
      position: absolute;
      right: 4px;
      top: 4px;
      // transform: translateY(-50%);
      // &:hover {
      //   background: transparent;
      //   border: 1px solid var(--accent-color);
      // }
    }
  }

  /*==========================================
   Footer Bottom
  ============================================*/
  .cs_footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px 24px;

    .cs_left_column {
      // display: flex;
      // align-items: flex-end;
      // gap: 24px;
      img {
        max-width: 150px;
      }
    }
    .cs_copyright {
      @media (max-width: 767px) {
        order: 3;
      }
    }
    .cs_social_btns {
      flex: 1;
      justify-content: flex-end;
      @media (max-width: 767px) {
        margin-bottom: 24px;
        justify-content: flex-start;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
