/*=======================================================
  Components
=========================================================*/

// Button Component
.cs_btn_lg,
.cs_btn_md,
.cs_btn_sm {
  background-color: var(--black);
  color: var(--white);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding: 19px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1em;
  text-wrap: nowrap;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  &.cs_type_1 {
    background-color: var(--white);
    color: var(--black);
  }
  &.cs_type_2 {
    padding: 18px 19px;
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent 0%,
      rgba(239, 75, 203, 0.35) 35%,
      rgba(52, 137, 123, 0.35) 65%,
      transparent 100%
    );

    transition: left 0.75s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: none;
    z-index: -1;
  }

  &:hover {
    color: var(--white);
    &.cs_type_1,
    &.cs_type_2 {
      color: var(--black);
    }
    &::after {
      left: 130%;
    }
    // &.cs_btn_arrow {
    //   transform: translateX(5px);
    // }
  }
}

.cs_btn_md {
  padding: 17px 20px;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  &.cs_type_2 {
    padding: 16px 15px;
  }
}
.cs_btn_sm {
  padding: 15px 14px;
  justify-content: center;
  gap: 2px;
  font-size: 14px;
  border-radius: 6px;
  &.cs_type_2 {
    padding: 14px 13px;
  }
}
// End of Button Component

// Social Iconbox
.cs_social_btns {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    background: var(--bg-grey);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 20px;
      width: 20px;
    }
    &:hover {
      transform: translateY(-4px);
      box-shadow:
        2px 2px 10px rgba(239, 75, 203, 0.4),
        2px 2px 10px rgba(52, 137, 123, 0.4);
    }
  }
}
// End of Social Iconbox
