/*=======================================================
  CTA Style 1
=========================================================*/
.cs_cta_style_1 {
  padding: 100px;
  .cs_heading_style_3{
    width: min(100%, 733px);
    margin: 0 auto;
  }
}
/*=======================================================
  CTA Style 2
=========================================================*/

/*=======================================================
  CTA Style 3
=========================================================*/
