/*=======================================================
  FAQ
=========================================================*/
.cs_faq_section_1 {
  .cs_heading_style_2 {
    max-width: 360px;
    @media (max-width: 991px) {
      max-width: 100%;
      .cs_description {
        width: 100%;
      }
    }
  }
}

.cs_faq_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 991px) {
    gap: 10px;
  }
}

.cs_accordian {
  border-bottom: 1px solid var(--line-grey);

  .cs_accordian_head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 16px 8px;
    cursor: pointer;
    @media (max-width: 991px) {
      gap: 16px;
      padding: 10px 4px;
    }
  }

  .cs_accordian_number {
    flex-shrink: 0;
    width: 32px;
    color: var(--text-grey-light);
    @media (max-width: 991px) {
      width: 22px;
    }
  }

  .cs_accordian_title {
    flex: 1 0 0;
    min-width: 0;
    transition: all 0.3s ease;
  }

  .cs_accordian_toggle {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--black);
    transition: transform 0.3s ease;
    @media (max-width: 991px) {
      width: 20px;
      height: 20px;
    }
  }

  .cs_accordian_body {
    padding: 0 64px 16px;
    @media (max-width: 991px) {
      padding: 0 40px 10px;
    }
  }

  &.active {
    .cs_accordian_head {
      padding-bottom: 10px;
      @media (max-width: 991px) {
        padding-bottom: 8px;
      }
    }
    .cs_accordian_toggle {
      transform: rotate(-90deg);
    }
  }
}
