/*=======================================================
  Hero
=========================================================*/
.cs_hero_section_1 {
  padding: 232px 0 334px;
  .container {
    max-width: 1344px;
  }

  @media (max-width: 1199px) {
    padding: 128px 0 334px;
  }
}
