/*===============================================
 Iconbox
 ================================================*/

// Iconbox 1
.cs_feature_section_1 {
  .col-lg-8 {
    .row {
      padding-left: 74px;
      justify-content: space-between;
      .col-6 {
        width: min(50%, 346px) !important;
      }
      @media (max-width: 1399px) {
        padding-left: 0;
      }
      @media (max-width: 991px) {
        gap: 50px 0;
      }
    }
  }
}
.cs_iconbox_style_1 {
  .cs_icon {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 32px;
      height: auto;
      position: relative;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--radial-gradient);
      border-radius: 16px;
      filter: blur(6.35px);
      opacity: 0.2;
      z-index: 1;
    }
  }
  @media (max-width: 991px) {
    margin-left: 0;
  }
}
// Iconbox 2
.cs_iconbox_wrapper_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 80px;
  @media (max-width: 991px) {
    gap: 32px 60px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cs_iconbox_style_2 {
  display: flex;
  gap: 0 32px;
  .cs_icon {
    flex: none;
    height: 96px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 40px;
      height: auto;
      position: relative;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--radial-gradient);
      border-radius: 50%;
      filter: blur(6.35px);
      opacity: 0.2;
      z-index: 1;
    }
  }
  .cs_description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    gap: 0 24px;
    .cs_icon {
      height: 60px;
      width: 60px;
      img {
        width: 32px;
      }
    }
    .cs_fs_32 {
      font-size: 24px;
    }
    .cs_fs_20 {
      font-size: 14px;
    }
  }
}
// Iconbox 3
.cs_feature_section_2 {
  .cs_heading_style_1 {
    align-items: flex-start;
  }
  @media (max-width: 991px) {
    .cs_heading_style_1 {
      text-align: center;
    }
    .cs_heading_column_1,
    .cs_heading_column_2 {
      margin: 0 auto;
    }
  }
}
.cs_iconbox_wrapper_3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  @media (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;
  }
  @media (max-width: 380px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cs_iconbox_style_3 {
  height: 100%;
  padding: 24px 6px 0;
  margin: 0 auto;
  .cs_icon {
    height: 40px;
    width: 40px;
  }
  @media (max-width: 1199px) {
    padding: 0;
  }
  @media (max-width: 767px) {
    max-width: 246px;
    &:nth-child(5) {
      grid-column: auto / span 2;
    }
  }
  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 380px) {
    &:nth-child(5) {
      grid-column: 1;
    }
  }
}
// Iconbox 4
.cs_iconbox_style_4 {
  .cs_icon {
    height: 40px;
    width: 40px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--black);
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      transform: translate(0, 0);
      background: var(--radial-gradient);
      border-radius: 16px;
      filter: blur(8px);
      opacity: 0.6;
      z-index: 1;
    }
  }
}
