/*=======================================================
  Post
=========================================================*/
.cs_blog_section_1 {
  .cs_heading_style_1 {
    align-items: flex-end;
    .cs_heading_column_1 {
      .cs_heading {
        letter-spacing: -1.6px;
      }
      .cs_description {
        letter-spacing: normal;
      }
    }
  }
}

.cs_post_wrapper_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 40px;
  @media (max-width: 1199px) {
    gap: 24px;
  }
  @media (max-width: 991px) {
    gap: 24px 18px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cs_post_style_1 {
  display: flex;
  flex-direction: column;
  gap: 0 18px;
  @media (max-width: 767px) {
    flex-direction: row;
  }
  .cs_post_thumb {
    background-color: var(--bg-grey);
    border-radius: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
    @media (max-width: 767px) {
      align-self: center;
      height: 90px;
      width: 90px;
      &.cs_mb_24 {
        margin-bottom: 0;
      }
    }
  }
  .cs_post_info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .cs_post_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    a {
      transition: background 0.4s ease;
      &:hover {
        background: var(--radial-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .cs_post_date {
    margin-top: auto;
  }
}
