/*===============================================
 Pricing
 ================================================*/
.cs_pricing_section_1{
    .cs_heading_style_3{
        width: min(100%, 1000px);
        margin: 0 auto;
        .cs_title{
            letter-spacing: -1.6px;
        }
    }
}
.cs_pricing_wrapper_1{
    padding: 20px;
    border-radius: 16px;
}
.cs_pricing_style_1{
    padding: 32px;
    background-color: var(--white);
    &.cs_active{
        background-color: transparent;
    }
}