/*===============================================
 Pricing
 ================================================*/
.cs_pricing_section_1 {
  .cs_heading_style_3 {
    width: min(100%, 1000px);
    margin: 0 auto;
    .cs_title {
      letter-spacing: -1.6px;
    }
  }
}
.cs_pricing_wrapper_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 0;
  padding: 20px;
  border-radius: 16px;
}

.cs_pricing_style_1 {
  padding: 32px 48px 32px 32px;
  height: 100%;
  background-color: var(--white);
  transition: all 0.4s ease;

  &:first-child {
    background-color: transparent;
    .cs_plan_title,
    .monthlyPrice,
    .cs_pricing_list {
      color: var(--white);
    }
    .cs_description {
      color: var(--line-grey);
    }
    .cs_btn_lg {
      background-color: var(--white);
      color: var(--black);
    }
  }
  &:nth-child(2) {
    border-radius: 16px 0 0 16px;
  }

  &:nth-child(3) {
    border-radius: 0 16px 16px 0;
  }

  // &.cs_active {
  //   background-color: transparent;
  //   .cs_plan_title,
  //   .monthlyPrice,
  //   .cs_pricing_list {
  //     color: var(--white);
  //   }
  //   .cs_description {
  //     color: var(--line-grey);
  //   }
  //   .cs_btn_lg {
  //     background-color: var(--white);
  //     color: var(--black);
  //   }
  // }

  // &:hover {
  //   border-radius: 16px;
  //   background-color: transparent;
  //   .cs_plan_title,
  //   .monthlyPrice,
  //   .cs_pricing_list {
  //     color: var(--white);
  //   }
  //   .cs_description {
  //     color: var(--line-grey);
  //   }
  //   .cs_btn_lg {
  //     background-color: var(--white);
  //     color: var(--black);
  //   }
  // }

  .cs_pricing_table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .cs_price {
    display: flex;
    align-items: center;
    gap: 0 5px;
  }

  .monthlyPrice {
    color: var(--black);
    letter-spacing: -1.6px;
  }

  .monthlyText {
    // margin-top: -20px;
    align-self: flex-end;
    // align-self: last baseline;
  }

  .cs_pricing_list {
    color: var(--black);
    li {
      position: relative;
      padding-left: 32px;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 56px;
      }
    }
  }

  .cs_icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      height: 18px;
      width: 18px;
      background: var(--radial-gradient);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0.56;
      border-radius: 50%;
    }
    .img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }
  }

  .cs_pricing_btn {
    margin-top: auto;
    .cs_btn_lg {
      margin-top: auto;
    }
  }
}
