/*=======================================================
  Work
=========================================================*/
.cs_work_style_1,
.cs_work_style_2 {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}
.cs_textbox_style_1,
.cs_textbox_style_2 {
  // width: min(100%, 370px);
  display: flex;
  gap: 0 24px;
  @media (min-width: 992px) {
    width: 370px;
  }
  .cs_number {
    height: 91px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    span {
      background: var(--radial-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .cs_textbox {
    padding: 18px 0;
  }
  .cs_description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

// Service Details About, Feature, Work Common Design
.cs_about_wrapper_2,
.cs_feature_wrapper_3,
.cs_work_wrapper_2 {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 20px 80px;
  align-items: flex-start;
  .cs_about_title,
  .cs_feature_title,
  .cs_work_title {
    flex: none;
    width: min(100%, 80px);
    padding: 8px 0;
  }
  @media (max-width: 1199px) {
    flex-wrap: wrap;
    .cs_about_title,
    .cs_feature_title,
    .cs_work_title {
      width: 100%;
    }
  }
}
// Service Details Work Style
.cs_work_style_2 {
  flex-wrap: wrap;
  gap: 32px;
  @media (max-width: 991px) {
    gap: 16px;
  }
}
.cs_textbox_style_2 {
  @media (min-width: 992px) {
    width: min(450px, 100%);
  }
  .cs_number {
    width: 74px;
  }
  .cs_textbox {
    padding: 0;
  }
  @media (max-width: 1199px) {
    .cs_textbox {
      padding: 10px 0;
    }
  }
  @media (max-width: 991px) {
    .cs_number {
      width: 40px;
      height: 67px;
    }
  }
  @media (max-width: 575px) {
    .cs_textbox {
      .cs_fs_24 {
        font-size: 20px;
      }
    }
  }
}
// Service Details Feature
.cs_feature_wrapper_3 {
  .cs_feature_list {
    color: var(--black);
    li {
      position: relative;
      padding-left: 56px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    .cs_feature_subtitle {
      margin-bottom: 12px;
    }
    .cs_feature_description {
      margin-bottom: 0;
    }
    @media (max-width: 1199px) {
      li {
        padding-left: 52px;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
      .cs_feature_subtitle {
        margin-bottom: 8px;
      }
    }
    @media (max-width: 991px) {
      li {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }

  .cs_icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
    &::before {
      content: "";
      height: 30px;
      width: 30px;
      background: var(--linear-gradient);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0.3;
      border-radius: 50%;
    }
  }
}
